*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
samples/release/samples-release.aab
*.apk
samples/release/output.json
.idea/
